{% extends "templates/base.html" %}

{% set headings = ["Id", "Nom", "Président", "CIPA", "Total CIPA", "CIPA versés au président", "Ratio"] %}

{% block content %}
    <h1 class="title">Clubs</h1>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            {% for heading in headings %}
                <th>{{ heading }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                {% for field in club %}
                    {% if loop.index0 < headings|length %}
                        <td>{{ field }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td class="has-text-centered" colspan="{{ headings|length }}">Aucun club n'existe</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}