{% extends "templates/base.html" %}

{% set headings = ["Id", "Address", "CIPA", "Certificat"] %}

{% block content %}
    <h1 class="title">Profils</h1>
    <table class="table is-fullwidth">
        <thead>
        <tr>
            {% for heading in headings %}
                <th>{{ heading }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                {% for field in student %}
                    {% if loop.index0 < headings|length %}
                        <td>{{ field }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td class="has-text-centered" colspan="{{ headings|length }}">Aucun étudiant n'est inscrit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}