<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - CipaCoin</title>
    {% else %}
        <title>CipaCoinCoin</title>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="display: flex;min-height: 100vh;flex-direction: column;">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <div class="title">
                <span>Cipa</span>
                <img src="/static/unicorn.png" alt="logo licorne">
                <span>Coin</span>
            </div>
        </a>
    </div>
</nav>
<section class="section" style="flex: 1;">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>
<footer class="footer" style="padding-bottom: 2rem !important;">
    <div class="content has-text-centered">
        Site réalisé par Marie-Astrid Chanteloup et Ambroise Sander. Icône par
        <a href="https://www.dariusdan.com" title="Darius Dan">Darius Dan</a> de
        <a href="https://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
    </div>
</footer>
</body>
</html>